<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <ul class="nav navbar-nav">
        <li class="active"><%= link_to "La Salle du Temps", root_path %></li>
        <li><%= link_to "Vidéos", realisations_index_path %></li>
        <li><%= link_to "univers", univers_presentation_path %></li>
        <li><%= link_to "Lifestyle", lifestyle_articles_path %></li>
    </ul>
  </div>
</nav>
  <!--   
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><%= link_to "Accueil", root_path  %></li>
            <li class="active"><%= link_to "L'univers", univers_presentation_path %></li>
            <li><%= link_to "Lifestyle", lifestyle_articles_path %></li></li>
            <li><%= link_to "Mes réalisations", realisations_index_path %></li></li>
            <li><%= link_to "Besoin d'aide ?", help_index_path %></li></li>
          </ul>
        </div> -->